
<mat-toolbar class="mat-toolbar mat-toolbar-single-row">
 
    <span class="example-spacer"></span>
    <button mat-button class="nav-btn">Login</button>
    <button mat-button class="nav-btn" >Help</button>

</mat-toolbar>

<div class="pub-body-outside">

    <div class="pub-body" >
        <div class="pub-body-item ">
            <img src="assets/pub-dev-logo.svg" alt=""> 
        </div>
        
        <div class="pub-body-item ">
            <form >
              
                
                <mat-form-field appearance="outline">
                  <input class="search_pack" matInput placeholder="Search packages">
                   
                    <mat-icon matPrefix>search</mat-icon>
                   
                  </mat-form-field>
            </form>
           
        </div>
        
        <div class="pub-body-item ">
        
            <p>
                Find and use packages to build <a href="/pub">Dart</a>  and <a  href="/pub">Flutter</a>  apps.
            </p>
            
        </div>
        
         
        
    
        
    </div>

</div>
